manifest {
  description = 'Example Nextflow pipeline for downloading SRA data on AWS and GCP'
}

/*
 * Basic execution resources
 */

process {
    container = 'snamburi3/sratoolkit:2.10.5'
    errorStrategy = 'retry'
    docker.enabled = true
}


/*
 * environment specific configuration
 */

profiles {
    awsbatch {
      aws.region = 'us-east-1'
      aws.client.storageEncryption = 'AES256'
      process.queue = 'AWS-BATCH-QUEUE' 
      executor.name = 'awsbatch'
      executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    }

    docker { 
      docker.enabled = true 
    }
   
    gls {
      process.executor = 'google-lifesciences'
      workDir = 'gs://GCP-PROJECT-BUCKET/sratools-nf' // <- replace with your own bucket!
      google.location = 'us'
      google.region  = 'us-east1'
      google.project = 'GCP-PROJECT-ID'
      google.lifeSciences.preemptible = true
      google.lifeSciences.sshDaemon = true
      google.lifeSciences.debug	= true
  } 
}
